{% extends 'base.html.twig' %}

{% block titke %} New Airport {% endblock %}

{% block body %}
<div class="container mt-3">
{% if airports|length > 0 %}	
<table  id="airports" class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Country</th>
      <th scope="col">Location</th>
      <th scope="col">Airlines</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody> 
{% for airport in airports %}  
    <tr>
      <td> {{ airport.name }}</td>
      <td>{{ airport.country }}</td>
      <td>{{ airport.location }}</td>
      <td>{{ airport.airlines|split('') }}</td>
      <td>      
      	<a href="/airports/edit/{{airport.id}}" class="btn btn-dark">
      		Edit
      	</a>
      	<a href="#" class="btn btn-danger delete-airport" data-id="{{airport.id}}" data-name="{{airport.name}}">
      		Delete
      	</a>
      </td>
    </tr>
{% endfor %}
    
  </tbody>
</table>
{% else %}
	<p>No Airports to Display</p>
{% endif %}
	</div>
{% endblock %}	

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
	$(document).ready(function(){
		var airports = document.getElementById('airports');

if (airports) {

	airports.addEventListener('click', function(e) {

		console.log(airports);
		if(e.target.className === 'btn btn-danger delete-airport'){
			var airportToDelete = e.target.getAttribute('data-name');
			if(confirm('Are you sure you want to delete ' + airportToDelete + ' ?')) {
				
				var ID = e.target.getAttribute('data-id').toString();				
				var url = '{{ path('delete_airport', { 'id': 'dummyId' })}}';			
				url = url.replace("dummyId", ID);				

				$.ajax({ 
					url: url,
					method : 'POST'						
				}).success(function(res){
					console.log(res)
				 	window.location.reload();
				}).fail(function(err){
					console.log(err);
				});
			}
		}
	});
}

	});


	</script>
{% endblock %}